@charset "UTF-8";

body{
    background-color: #000;
    color: white;
    scroll-behavior: smooth;   
}

#header-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    background-color: rgb(0, 11, 70);
    height: 6rem;
    width: 100%;
    position: sticky;
    top: 0;
    transition: top 0.3s ease-in-out;
}

#header-container #matheus{
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}

header nav a {
    font-size: 14px;
    padding: 2px;
}

article#about{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 80px;
    width: 100%;
    height: 50vh;
    background-image: url(../imagens/blue-background-cell.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    box-shadow: 0px 0px 10px 10px rgba(3, 91, 192, 0.274);

}

div#about-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000006b;
    border: 1px solid rgba(51, 214, 255, 0.555);
    box-shadow: 0px 0px 10px 10px rgba(51, 214, 255, 0.274);
    border-radius: 20px;
    height:100px;
    width:300px;
}

div#about-title p{
    font-size: 3rem;
    font-family: poppins;
    font-weight: 200;
    text-align: center;
}

section#greetments-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content:center;
    height: 100vh;
    margin: 60px 0px;
}

div#img-container{
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 350px;
    height: 400px;
    margin: 20px 0px;
    
}

div#img-container img{
    width: 300px;
    height: 300px;

}

div#greetmentes-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid rgba(51, 214, 255, 0.555);
    box-shadow: 0px 0px 10px 10px rgba(3, 91, 192, 0.274);
    width: 330px;
    border-radius: 8px;
}


div#greetmentes-item p{
    font-size: 1.5rem;
    font-family: poppins;
    font-weight: 100;
    text-align: center;
    border-radius: 8px;
    max-width: 50ch;
    white-space: normal;
    text-align: center;
    padding: 10px;
}

section#skills-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    background-color: #080808;
    border-top: 1px solid rgba(51, 214, 255, 0.555);
}

#skills-container #skills-child{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 400px;
    background-color: transparent;
}

#skills-title{
    color: white;
    font-size: 6rem;
    font-family:Poppins, Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-shadow: 5px 5px 10px rgba(51, 214, 255, 0.616); /*rgba(255, 255, 255, 0.418)*/
}

.logo-skills{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
}

.logo-skills img{
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 10px;
    
}

.logo-skills img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    transform: translatey(-4px);
    box-shadow: 7px 5px 7px rgba(8, 31, 241, 0.596);
}

section#projects-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    width: 100%;
    
}

section#projects-container #project-title{
    width: 100%;
    height: 200px;
}

#project-title p {
    text-align: center;
    color: white;
    font-size: 6rem;
    font-family:Poppins, Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-shadow: 5px 5px 10px rgba(51, 214, 255, 0.616);
    
}

#projects {
    display: flex;
    overflow-x: auto; /* Ativa a rolagem apenas na horizontal */
    white-space: nowrap; /* Mantém os itens em linha */
    gap: 20px; /* faz o espaço entre as imagens */
    padding: 0px 0px 30px 0px;
    max-width: 80vw; /* Limita a largura para caber 2 imagens grandes */
    scroll-snap-type: x mandatory; /* Faz a rolagem "grudar" nos itens */
    scrollbar-width: thin;
    scrollbar-color: white transparent;
  }
  
  /* Estilizando a barra de rolagem para Chrome, Edge e Safari */
#projects::-webkit-scrollbar {
    height: 8px;
  }
  
#projects::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
#projects::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    border: 2px solid #4682B4;
  }
  
#projects::-webkit-scrollbar-thumb:hover {
    background: #08b9ff;
  }
  
  /* Define o tamanho das imagens */
#projects a {
    flex: 0 0 45%; /* Cada imagem ocupa 45% da largura da tela */
    scroll-snap-align: center; /* Faz a rolagem parar na posição certa */
  }
  
#projects img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

#projects .img{
    height: 200px;
    background-color: transparent;

  }

#project-name{
    padding-top: 5px;
    text-align: center;
}

section#contact-container{
    height: 70vh;
    background-color: #1d1c1c80;
}

#contact-container div{
    height: 160px;

}

#contact-container div #contactme{
    font-size: 60px;
    text-align: center;
    
}

footer{
    margin: 20px 0px;
    height: 200px;
    width: 100%;
    background-color: transparent;
}

div#copy{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

